black
coverage[toml]
django
django-allauth
django-debug-toolbar
django-extensions
django-health-check
django-htmx
django-simple-history
django-stubs
django-vite
django-watchfiles
environs[django]
gunicorn
ipython
model_bakery
mypy
pre-commit
psycopg
psycopg-binary
pytest
pytest-django
pytest-randomly
pytest-reverse
pytest-xdist
ruff
sentry-sdk
uvicorn[standard]
watchfiles
whitenoise
