attrs
black
coverage[toml]
croniter
django
django-allauth
django-anymail[mailgun]
django-click
django-coverage-plugin
django-debug-toolbar
django-extensions
django-filter
django-flyio
django-health-check
django-htmx
django-q2
django-simple-history
django-stubs
django-vite
django-watchfiles
environs[django]
gunicorn
ipython
model_bakery
mypy
pip-tools
pre-commit
psycopg
psycopg-binary
pytest
pytest-django
pytest-randomly
pytest-reverse
pytest-xdist
requests
ruff
sentry-sdk
types-requests
uvicorn[standard]
watchfiles
whitenoise
