{% load static %}
{% load django_htmx %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Project{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        {% block css %}{% endblock css %}
        {% vite_hmr_client %}
        {% vite_asset 'main.ts' %}
        <script type="module" src="{% static 'vendor/js/htmx.min.js' %}"></script>
        {% django_htmx_script %}
        <script>
            document.addEventListener("htmx:afterSettle", (event) => {
                if ("djdt" in window) {
                    window.djdt.init();
                }
            });
        </script>
        <script type="module" src="{% static 'vendor/js/alpinejs.min.js' %}" defer></script>
        {% block javascript_head %}{% endblock javascript_head %}
    </head>

    {% block body %}

        <body>
            <header>
                {% block header %}{% endblock header %}
            </header>

            <main>
                {% block main %}{% endblock main %}
            </main>

            <footer>
                {% block footer %}{% endblock footer %}
            </footer>

            {% block javascript_foot %}{% endblock javascript_foot %}
        </body>

    {% endblock body %}

</html>
